.password-mapper {
  background-color: #4abce6;
  color: #ffffff;
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  table {
    width: 100%;
    th {
      text-align: right;
    }
  }
  button {
    padding: 5px 10px;
    color: #ffffff;
    background-color: #aaaaff;
    border: solid 1px #6666ff;
    border-radius: 5px;
    &:hover {
      background-color: #8888ff;
      cursor: pointer;
    }
    &:focus {
      background-color: #8888ff;
      outline: none;
      box-shadow: 0px 0px 6px rgba(193, 54, 208, 0.5);
    }
  }
  @mixin input-styles {
    color: #6666ff;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 10px rgba(193, 54, 208, 0.8);
    }
  }
  input[type="text"],
  input[type="password"] {
    padding: 5px;
    font-size: 15px;
    border: solid 1px #8888ff;
    @include input-styles();
  }
  input[type="radio"] {
    @include input-styles();
  }
}
